:root {
    --main-font-color: #333;
    --main-bg-color: #f8f8f8;
    --secondary-bg-color: #e0e3ee;
}


*,
*:before,
*:after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html {
    color: var(--main-font-color);
    line-height: 1.5;
    background-color: var(--main-bg-color);
    font-size: 100%;
    font-family: 'Lexend Mega', sans-serif;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
}

.container__items {
    width: 55vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.header {
    height: 15vh;
padding:20px;
}

.header__title {
    font-size: 3em;
    text-align: center;
}

.header__title:before {
    display: inline-block;
    background: url('../img/skate.png') no-repeat;
    content: '';
    width: 1em;
    height: 1em;
    margin: 0 10px;
}


#map {
    width: 55vw;
    height: 75vh;
    border-radius: 2%;
    box-shadow: 2px 2px 1px rgba(68, 68, 68, 0.2);
    -moz-box-shadow: 2px 2px 1px rgba(68, 68, 68, 0.2);
    -webkit-box-shadow: 2px 2px 1px rgba(68, 68, 68, 0.2);
}

.sidebar {
    width: 40vw;
    height: 100vh;
    padding: 30px;
    background-color: var(--secondary-bg-color);
}

.box__info {
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    width: 40vw;
    height: 90vh;
    background-color: rgba(255, 255, 240, 0.6);
}